.app-layout {
  margin: 0;
}

.app-header {
  font-style: normal;
  font-size: 28px;
  text-align: center;
}

.app-results-list {
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px;
  column-gap: 10px;
  row-gap: 15px;
}

ul > li {
  list-style: none;
}
